* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
/* shared styles */
.container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #001931;
}
h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #001931;
}
p {
    font-size: 16px;
    color: #627382;
    margin: 16px 0;
}

.logo {
    width: 139px;
    height: 60px;
}

.btn {
    background-color: #469165;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
}
.btn img {
    width: 20px;
    height: 20px;
}
.btn:hover {
    background-color:#3bf689;
    color: #012e13;
}

.btn-2 {
    padding: 16px;
    /* background-color: transparent; */
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    /* margin-left: 16px; */
    display: inline-flex;
    gap: 10px;
}
.btn-2 img{
    width: 20px;
    height: 20px;
}
.btn-2:hover {
    background-color: #3bf689;
    color: #012e13;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
/* main style */

 /* navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
li a {
    text-decoration: none;
    color: black;
}

/* hero */
.banner-container {
    text-align: center;
    padding: 70px 120px 135px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content {
    width: 700px;
    margin: 0 auto;
}
.banner-container h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #ffffff;
}
h1 span {
    color: #30b868;
}
.banner-container p {
    color: #ffffff;
}
.early-accessbtn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    gap: 6px;
    color: #469165;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto 16px auto;
}
.early-accessbtn img{
    height: 16px;
    width: 16px;
}
.early-accessbtn:hover{
    color: black;
    background-color: lightgreen;
}
/* cards */
.card-container {
    margin-top: 80px;
    text-align: center;
}
.card-content {
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.card {
    text-align: center;
    padding: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.card img {
    background-color: #f95555;
    border-radius: 100%;
    padding: 14px;
}
/* brain */
.brain-container {
    display: flex;
    margin-top: 80px;
    gap: 60px;
    align-items: center;
}
.brain-img {
    width: 600px;
    height: 600px;
}
.brain-text h4 {
    color:#469165 ;
    font-size:16px ;
}
.brain-text h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}
.brain-text p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.brain-info {
    display: flex;
    gap: 6px;
    align-items: center;
}
.brain-info img {
    height: 20px;
    width: 20px;
}
/* access */
.access-container {
    text-align: center;
    padding: 80px 40px;
    margin-top: 80px;
    background-color: #f7f6f2;
}

/* footer */
footer {
    background-color: #001931;
    margin-top: 80px;
}
.footer-container {
    padding: 120px 0 30px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    /* top right bottom left */
    /* margin: 120px 120px 80px 120px ; */
    margin: 120px auto 80px auto ;
    max-width: 1360px;
}

.social {
    display: flex;
    flex-direction: column;  
    gap: 10px;
}

.social-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;   
    gap: 16px;
    margin-right: 21px;
}

.social a {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a img {
    width: 14px;
    height: 14px;
}


footer hr {
    margin-bottom: 30px;
    margin-top: 80px;
    border-color: #E5E7EB;
}
.subFooter {
    color: #ffffff;
    text-align: center;
    font-size: small;
    padding-bottom: 30px;
    margin: 0;
}
.footer{
    max-width: 1360px;
}

/* mobile */
@media screen and (max-width: 576px) {
.container {
    width: 96%;
}
nav ul {
    display: none;
}
.banner-container {
    padding: 20px;
}
.banner-container h1 {
    font-size: 30px;
    line-height: 35px;
}
.card-content {
    flex-direction: column;
}
.brain-container {
    flex-direction: column-reverse;
    gap: 30px;
}
.footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
    }
